@page
@*@model Attendance.Pages.Overview.IndexModel*@
@model Attendance.Pages.Category.IndexModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>

<div class="row p-3">
    <div class="col-sm-4 border">
        @*@Html.Partial("_DisplayCategoryPartial");*@
        <h4>Categories</h4>
        <partial name="_DisplayCategoryPartial" />
    </div>
    <div class="col-sm-4 border">
        @*<iframe src="QuestionPool" width="100%" height="100%"></iframe>*@
        <h4>SIRE Question Pool</h4>
        <iframe src="Qpool" class="app-ifr"></iframe>
    </div>
    <div class="col-sm-4 border">
        <h4>Management Question Pool</h4>
        <iframe src="Qpool" class="app-ifr"></iframe>
        @*<partial name="/Pages/QuestionPoolPartial/Index.cshtml"/>*@
    </div>
</div>

@*<partial name="_DisplayCategoryPartial" model="@Model.Category"/>*@
