@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Menu"] = "home";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome to Attendance</h1>
</div>